<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body class="application-root application-root_parameters">
<div class="form-container row">
    <div class="form-inline col-md-6 col-md-offset-3">

        <% if(isPost) { %>
        <section class="wrapper">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </section>
        <% } %>

        <div class="row">
            <hr>
        </div>

        <h1><%= title %></h1>
        <p><%= description %></p>

        <div class="row">
            <hr>
        </div>

        <div class="row features-block">
            <div class="col-md-6 features-block__item">
                Равным образом сложившаяся структура организации требуют определения и уточнения модели развития.
                Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            </div>
            <div class="col-md-6 features-block__item">
                Равным образом сложившаяся структура организации требуют определения и уточнения модели развития.
                Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            </div>
        </div>

        <div class="row features-block">
            <div class="col-md-6 features-block__item">
                Равным образом сл1ожившаяся структура организации требуют определения и уточнения модели развития.
                Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            </div>
            <div class="col-md-6 features-block__item">
                Равным образом сложившаяся структура организации требуют определения и уточнения модели развития.
                Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

    </div>
</div>

</body>
</html>

